{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('services') }}
{% endblock %}

{% block lc_content %}

<div class="banner services-banner">
	<h1> {{title}} </h1>
	<hr>
	<div class="row">
		<div class="col-lg-3 col-md-6 services-link"><a href="{{path('lc_particular')}}">Индивидуальные занятия для взрослых и детей</a></div>
		<div class="col-lg-3 col-md-6 services-link"><a href="{{path('lc_group')}}">Групповые занятия для детей</a></div>
	</div>
</div>
{% block lc_services_content %}
{% endblock %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('services') }}
{% endblock %}