{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ encore_entry_link_tags('blog') }}
{% endblock %}
{% block lc_content %}
<section>
    <div class="banner" id="blog-banner">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-md-5">
                <div class="row align-items-center justify-content-center">
                    <div class="col">
                        <p>Добро пожаловать в</p>
                        <h1>Блог Говоруши!</h1>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5"><img src="{{ asset('build/images/blog/bird.png') }}" alt="bird"> </div>
        </div>
    </div>
    <div class="row">
        <aside class="col-lg-3 col-12">
            <p> Статьи по темам:
                <ul class="fa-ul" id="categories">
                    {% for category in categories %}
                    <li><span class="fa-li"><i class="fas fa-pencil-alt"></i></span><a href="{{path('lc_blog_category', {id: category.id})}}">{{category.name}}</a></li>
                    {% endfor %}
                </ul>
            </p>
        </aside>
        <div class="col-lg-9 col-12 ">
            <div id="preloader">
                <div class="spinner-border text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div id="articles-list">
                {% if isAjax == false %}
                {% for article in articles %}
                <article>
                    <div class="row">
                        <div class="col-12 article-img" style="background:url({{vich_uploader_asset(article, 'imageFile') }}) no-repeat center; background-size: cover"></div>
                        <div class="col-12 article-lg-row">
                            <div class="row">
                                <div class="col-12 col-lg-7 article-title">
                                    <h3><a href="{{path('lc_article_view', {id: article.id, slugpath: article.slugPath})}}">{{article.title}}</a></h3>
                                </div>
                                <div class="col-lg-5 article-tag">
                                    <div class="row justify-content-around">
                                        {% for category in article.categories %}
                                        <div class="col-4">
                                            <a class="psy">#{{category}}</a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 article-responsive-info">
                            <div class="row">
                                <div class="col-6 article-tag">
                                    <div class="row justify-content-around align-items-center">
                                        {% for category in article.categories %}
                                        <a class="psy">#{{category}}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-6 article-data">
                                    <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="far fa-user"></i></span>{{article.author}}</li>
                                        <li><span class="fa-li"><i class="far fa-calendar-alt"></i></span>{{article.FormatedDate}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 article-lg-row">
                        <div class="row">
                            <div class="col-12 col-lg-8  article-review">
                                <p>{{article.review}}</p>
                            </div>
                            <div class="col-lg-4 article-data">
                                <ul class="fa-ul">
                                    <li><span class="fa-li"><i class="far fa-user"></i></span>Author</li>
                                    <li><span class="fa-li"><i class="far fa-calendar-alt"></i></span>{{article.FormatedDate}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12"><a href="{{path('lc_article_view', {id: article.id, slugpath: article.slugPath})}}" class="button">Читать</a></div>
                </article>
                {% endfor %}
                {{ knp_pagination_render(articles) }}
                {% endif %}
            </div>
        </div>
    </div>
    <button id="test-btn">Test</button><br>
    <div id="test-div"> </div>
    </div>
</section>
{% endblock %}
{% block javascripts %}
{{ encore_entry_script_tags('blog') }}
{% endblock %}