<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Логоцентр "Говоруша"{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Kurale&amp;family=Lora&amp;display=swap" rel="stylesheet">
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {% block body %}
    <div class="container-fluid" id="my-page">
        <header class="header-flex">
            <div class="row align-items-center justify-content-between">
            	<div class="col-8 col-md-4" id="logo-header">
            		<a href="{{ path('lc_home') }}"><img src="{{ asset('build/images/logo.png') }}" alt="logo"></a>
            	</div>
                
                <div id="my-header" class="col-4 col-md-8">
                    <m-burger menu="my-menu" fx="collapse"></m-burger>
                    <nav id="my-menu">
                        <ul>
                            <li><a href="{{ path('lc_home') }}">Главная</a></li>
                            <li class="submenu-parent" id="sub-1"><span>Услуги и цены</span>
                                <ul class="submenu">
                                    <li><a href="{{ path('lc_particular') }}">Индивидуальные занятия</a></li>
                                    <li><a href="{{ path('lc_group') }}">Групповые занятия</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ path('lc_blog') }}">Блог Говоруши</a></li> 
                            <li><a href="{{ path('lc_faq') }}">Вопросы и ответы</a></li>
                            <li><a href="{{ path('lc_contact') }}">Контакты</a></li>
                            <li><a class="button" href="{{ path('lc_appointment') }}">Записаться</a></li>
                        </ul>
                    </nav>
                </div>
                <nav class="col-sm-12 col-md-8" id="nav">
                    <ul class="d-flex justify-content-end">
                        <li><a href="{{ path('lc_home') }}">Главная</a></li>
                        <li class="submenu-parent" id="elem-1"><a href="{{ path('lc_services') }}">Услуги и цены</a>
                            <ul class="submenu">
                                <li><a href="{{ path('lc_particular') }}">Индивидуальные занятия</a></li>
                                <li><a href="{{ path('lc_group') }}">Групповые занятия</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('lc_blog') }}">Блог Говоруши</a></li>
                        <li><a href="{{ path('lc_faq') }}">Вопросы и ответы</a></li>
                        <li><a href="{{ path('lc_contact') }}">Контакты</a></li>
                        <li><a class="button" href="{{ path('lc_appointment') }}">Записаться</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        {% block lc_content %}
        {% endblock %}
        <footer class="flex-footer">
            <div class="container">
                <div class="row ">
                    <div class="col-md-4 col" id="contact-footer">
                        <p>
                            <i class="fas fa-map-marker-alt"></i> Ул. Киевская 28Б, 2 этаж, офис 4 <br>
                            <i class="fas fa-phone"></i> 8-913-871-05-77<br>
                            <i class="far fa-envelope"> </i><a href="mailto:govorushalogo@mail.ru">govorushalogo@mail.ru</a>
                        </p>
                        <div class="social-icons">
                            <div class="col"><a href="https://vk.com/govorusha70" target="blanc"><i class="fab fa-vk"></i></a></div>
                            <div class="col"><a href="https://www.instagram.com/logocentergovorysha70" target="blanc"><i class="fab fa-instagram"></i></a></div>
                        </div>
                    </div>
                    <div class="col-md-4 mx-auto"><img src="{{ asset('build/images/logo2.png') }}" alt="logo"></div>
                    <div class="col-md-4">
                        <div id="schedule">
                            <h5>Время работы:</h5>
                            <p>
                                <span class="time">Пн-Пт: 09:00 - 20:00 <br></span>
                                <span class="time">Сб: 9:00 - 18:00 <br></span>
                                <span class="time">Вс: выходной </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <button id="button-up"><i class="fas fa-chevron-up"></i>
        </button>
        {% endblock %}       
    </div>

    
    {{ encore_entry_script_tags('app') }}
        
    {% block javascripts %}
        
    {% endblock %}
</body>

</html>